{% extends "base.html" %}
{% load static %}
{% load cart_tag %}


{% block content %}


<main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="{% static 'assets/img/banner/page-banner-4.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h4 class="breadcrumb-title">Your Order</h4>
                        <div class="breadcrumb-two">
                            <nav>
                               <nav class="breadcrumb-trail breadcrumbs">
                                  <ul class="breadcrumb-menu">
                                     <li class="breadcrumb-trail">
                                        <a href="{% url 'home' %}"><span>Home</span></a>
                                     </li>
                                     <li class="trail-item">
                                        <span>Order</span>
                                     </li>
                                  </ul>
                                  
                                  <div class="col-md-4 d-inline-flex mt-50">
                                    <a href="{% url 'order_tracking' %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                    Track Your Order
                                    </a>
                                  </div>
                                    
                               </nav> 
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->

    <!-- cart-area-start -->
    <section class="cart-area pt-120 pb-120">
        <div class="container">
           <div class="row">
              <div class="col-12">
                <h3>Checkout Order</h3>
                    
                    <form action="" method="get">
                       <div class="table-content table-responsive">
                          <table class="table">
                                <thead>
                                   <tr>
                                      <th class="product-thumbnail">Product</th>
                                      <th class="cart-product-name">Price</th>
                                      <th class="product-quantity">Tranjection Id</th>
                                      <th class="product-subtotal">Created At</th>
                                      {% comment %} <th class="product-remove">Remove</th> {% endcomment %}
                                   </tr>
                                </thead>
                                <tbody>

                                    {% for i in checkout_obj %}
                                   <tr id="id{{value.id}}">
                                      <td class="product-thumbnail" ><a href="{{i.get_absolute_url}}">{{i.product_name}}</a></td>
                                      <td class="product-name"><a href="{{i.get_absolute_url}}">&#2547; {{i.order_total}}</a></td>
                                      <td class="product-quantity"><span class="amount">{{i.tranjection_id}}</span></td>
                                        <td class="product-subtotal"><span class="amount">{{i.created_at}}</span></td>
                                    </tr>
                                   {% endfor %}

                                </tbody>
                          </table>
                          <a href="{% url 'order_tracking' %}" class="d-flex align-items-center justify-content-center btn btn-outline-danger w-100">
                            Track Your Order
                            </a>
                       </div>

                    </form>
              </div>




              <div class="col-12 pt-120 pb-120">
                <h3>Preorder Order</h3>
                    <form action="" method="get">
                       <div class="table-content table-responsive">
                          <table class="table">
                                <thead>
                                   <tr>
                                      <th class="product-thumbnail">Product</th>
                                      <th class="cart-product-name">Price</th>
                                      <th class="product-quantity">Tranjection Id</th>
                                      <th class="product-subtotal">Created At</th>
                                      {% comment %} <th class="product-remove">Remove</th> {% endcomment %}
                                   </tr>
                                </thead>
                                <tbody>

                                    {% for i in PreOrder %}
                                   <tr id="id{{value.id}}">
                                      <td class="product-thumbnail" ><a href="{{i.get_absolute_url}}">{{i.product_name}}</a></td>
                                      <td class="product-name"><a href="{{i.get_absolute_url}}">&#2547; {{i.order_total}}</a></td>
                                      <td class="product-quantity"><span class="amount">{{i.tranjection_id}}</span></td>
                                        <td class="product-subtotal"><span class="amount">{{i.created_at}}</span></td>
                                    </tr>
                                   {% endfor %}

                                </tbody>
                          </table>
                       </div>

                       

                    </form>
              </div>
           </div>
        </div>
     </section>
     <!-- cart-area-end -->

    

</main>


<script>
    var item_amounts = {{ cart_total_amount }};
    var total = item_amounts;
    var coupon_discount = {{ coupon.discount }};
    console.log(coupon_discount);
    var cal_discount;

    if (coupon_discount) {
        if (item_amounts < 5000) {
            cal_discount = item_amounts - coupon_discount + 150;
            document.getElementById("total").innerHTML = "<b>Total </b><span><b>&#2547; " + cal_discount.toFixed(2) + "</b></span>";
        } else {
            cal_discount =  item_amounts - coupon_discount;
            document.getElementById("total").innerHTML = "<b>Total </b><span><b>&#2547; " + cal_discount.toFixed(2) + "</b></span>";
        }
    }
</script>



{% endblock content %}