{% extends "base.html" %}

{% load static %}


{% block content %}
<section class="root">
    <figure>
      <img src="https://photos.melorra.com/fit-in/1024x1024/dev/catalogue/images/ET/OPT/580/C16PET09F_P_580.jpg" alt="">
      <figcaption>
        <h4>Some Jewellery Name</h4>
        <h6>Category</h6>
        <h2>₹ 23,456</h2>
      </figcaption>
    </figure>
    <div class="order-track">
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Order Received</p>
          <span class="order-track-text-sub">21st November, 2019</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Order Processed</p>
          <span class="order-track-text-sub">21st November, 2019</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Manufracturing In Progress</p>
          <span class="order-track-text-sub">21st November, 2019</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Order Dispatched</p>
          <span class="order-track-text-sub">21st November, 2019</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Order Deliverd</p>
          <span class="order-track-text-sub">21st November, 2019</span>
        </div>
      </div>
    </div>
  </section>
{% endblock %}